body {
    /* background-color: #191414; */
    background-image: linear-gradient(#191414, #9bbaff);
    /* background-image: url(/assets/Screenshot\ 2022-07-12\ at\ 21.45.09.png);
    background-size: 1500px;
    height: 1200px; */
}

* {
    margin: 0;
    padding: 0;
}

#Paul {
    border-radius: 50%;
    width: 300px;
    margin: 100px;
    background-color: white;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80px;
    margin: 0px;
}

.left-right {
    display: flex;
    align-items: center;
}

.white {
    color: white;
}

.profile {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.playlist-section {
    background-color: black;
    /* margin: 0; */
    padding: 20px 0px 20px 0px;
}

#playlist-pic {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid wheat; */
    border-radius: 5%;
    width: 300px;
    background-color: #0e0c0c;
    padding: 20px 0px 60px 0px;
}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #191414;
}

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#playlist-name {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover, a:visited, a:active {
    color: white;
    text-decoration: underline;
}

#in-playlist-name {
    font-size: 50px;
    padding-left: 20px;
}

.song {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 18px;
}

.playlist-header {
    padding: 2%;
    background-image: linear-gradient(rgb(30, 117, 151), black);
}

.playlist {
    display: flex;
    justify-content: center;
    /* max-width: 300px; */
}

#public-playlists {
    position: relative;
    left: 24px;
}

.songs-section {
    background-color: black;
    padding: 1px 0px 20px 0px;
}

#back-arrow {
    width: 30px;
    background: white;
    border-radius: 70%;
}

.song:hover {
    background-color: #191414;
}

.songs-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #888888;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 10px;
}

#in-playlist-pic {
    width: 250px;
    height: 250px;
}

.number {
    position: absolute;
    left: 23.5%;
}

.song-name {
    position: absolute;
    left: 47.5%;
}

.artist {
    position: absolute;
    left: 73%;
}

/* Add back button to and style every single bday message and add responsiveness w mobile queries*/

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 20px;
    left: -20px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media only screen and (max-width: 769px) {
    #Paul {
        border-radius: 50%;
        width: 260px;
        margin: 20px;
        background-color: white;
    }

    .left-right {
        flex-direction: column;
    }

    .profile-desc {
        text-align: center;
        margin-bottom: 50px;
    }

    h1 {
        font-size: 50px;
    }

    #profile-text {
        visibility: hidden;
    }

    #in-playlist-name {
        font-size: 40px;
        text-align: center;
    }
}

@media only screen and (min-width: 350px) and (max-width: 450px) {
    .number {
        position: absolute;
        left: 20.5%;
    }

    .song-name {
        position: absolute;
        left: 41%;
    }

    .artist {
        position: absolute;
        left: 69%;
    }

    #in-playlist-name {
        font-size: 30px;
        text-align: center;
    }
}

@media only screen and (min-width: 450px) and (max-width: 550px) {
    .number {
        position: absolute;
        left: 22%;
    }

    .song-name {
        position: absolute;
        left: 43.5%;
    }

    .artist {
        position: absolute;
        left: 70%;
    }
}

@media only screen and (min-width: 550px) and (max-width: 680px) {
    .number {
        position: absolute;
        left: 22.5%;
    }

    .song-name {
        position: absolute;
        left: 44.5%;
    }

    .artist {
        position: absolute;
        left: 71%;
    }
}

@media only screen and (min-width: 680px) and (max-width: 769px) {
    .number {
        position: absolute;
        left: 23%;
    }

    .song-name {
        position: absolute;
        left: 45.5%;
    }

    .artist {
        position: absolute;
        left: 71.5%;
    }
}

@media only screen and (max-width: 850px) {
    #public-playlists {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .song-name {
        position: absolute;
        left: 46%;
    }
}